node-red/seance.json
[{"id":"3228c745.562088","type":"tab","label":"Flow 1"},{"id":"d349c42.ec94a38","type":"inject","z":"3228c745.562088","name":"","topic":"Game Begins","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"x":170,"y":100,"wires":[["2bb1299c.b11626"]]},{"id":"b852f758.7c3e68","type":"play audio","z":"3228c745.562088","name":"","voice":"0","x":1190,"y":260,"wires":[]},{"id":"2bb1299c.b11626","type":"file in","z":"3228c745.562088","name":"Hands on Table","filename":"/home/jeremy/git/seance/audio/PlaceYourHandsOnTheTable.wav","format":"","chunk":false,"sendError":false,"x":780,"y":100,"wires":[["b852f758.7c3e68"]]},{"id":"3d93575a.161308","type":"inject","z":"3228c745.562088","name":"","topic":"P1LH","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":140,"y":200,"wires":[["5314f8d7.b06ca8"]]},{"id":"7025d824.6950d8","type":"inject","z":"3228c745.562088","name":"","topic":"P1RH","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":140,"y":340,"wires":[["5314f8d7.b06ca8"]]},{"id":"5314f8d7.b06ca8","type":"function","z":"3228c745.562088","name":"P1Hands","func":"context.p1lh = context.p1lh || false;\ncontext.p1rh = context.p1rh || false;\ncontext.handsAreDown = context.handsAreDown || false;\n\nif (msg.topic === 'P1LH') {\n  context.p1lh = msg.payload;\n} else if (msg.topic === 'P1RH') {\n  context.p1rh = msg.payload;\n}\n\nif (context.p1lh && context.p1rh) {\n  context.handsAreDown = true;\n  return {\n      topic: 'p1state', \n      payload: 'HandsDown'}\n} else {\n  if(context.handsAreDown) { // Player has lifted a hand\n    context.handsAreDown = false;\n    return {\n        topic: 'p1state',\n        payload: 'HandsLifted'}\n    }\n  return null\n}","outputs":1,"noerr":0,"x":400,"y":280,"wires":[["f2394460.fd3a48","2a44bb6b.98ab74"]],"inputLabels":["P1LH"]},{"id":"30d58f57.2e074","type":"inject","z":"3228c745.562088","name":"","topic":"P1LH","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":140,"y":240,"wires":[["5314f8d7.b06ca8"]]},{"id":"c1a525da.4b7da8","type":"inject","z":"3228c745.562088","name":"","topic":"P1RH","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":150,"y":380,"wires":[["5314f8d7.b06ca8"]]},{"id":"f2394460.fd3a48","type":"switch","z":"3228c745.562088","name":"CheckHands","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"HandsDown","vt":"str"},{"t":"eq","v":"HandsLifted","vt":"str"}],"checkall":"true","outputs":2,"x":570,"y":280,"wires":[["f8f86d3.029b29"],["ee31bc0c.c9a8e"]],"outputLabels":["Hands Down","Hands Lifted"]},{"id":"ee31bc0c.c9a8e","type":"file in","z":"3228c745.562088","name":"I Said Hands on Table","filename":"/home/jeremy/git/seance/audio/ISaidPlaceYourHandsOnTheTable.wav","format":"","chunk":false,"sendError":false,"x":800,"y":300,"wires":[["b852f758.7c3e68"]]},{"id":"f8f86d3.029b29","type":"file in","z":"3228c745.562088","name":"Well Done, Now We Can Proceed","filename":"/home/jeremy/git/seance/audio/WellDone.wav","format":"","chunk":false,"sendError":false,"x":840,"y":260,"wires":[["b852f758.7c3e68"]]},{"id":"2a44bb6b.98ab74","type":"debug","z":"3228c745.562088","name":"","active":true,"console":"false","complete":"false","x":572,"y":185,"wires":[]}]
